.menu {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #13203f;
}

.menu a {
    text-decoration: none;
    font-family: "Monaco", monospace;
    color: #13203f;
    font-weight: 800;
    background-color: #d1d1d1;
    margin-left: 22px;
    margin-right: 22px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    border: 3px transparent solid;
}

.menu a:hover {
    color: #f0bd19;
    border: 3px #f0bd19 solid;
}

.tileSet {
    float: left;
    width: 25%;
    padding: 15px;
    display: flex;
    align-content: center;
    margin: 10px;
    margin-bottom: -10px;
}

/* Here i struggled to center the tiles in the 'row' class.
But the flexbox properties seemed to do the trick */
.row {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

/* Alot of the pictures i got where different sizes, so i edited the backrounds and 
exported all of them with the same dimentions for conveniece.

However, the flex - align content: center command (check line 5 & 6) would have worked aswell
I dicovered this much later, that's why i have it the way i do */
.row img {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 10px, 10px, 8px;
}

img {
    box-shadow: 10px, 10px, 8px;
}

.row img:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    transition-duration: 0.4s;
}

.Prod-name {
    width: 25%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: -10px;
}

.Prod-name a:hover {
    text-decoration: none;
}

h1 {
    padding: 10px;
    text-align: center;
    font-weight: 900;
    font-family: 'ICA Rubrick';
    margin-top: -5px;
    color: #d1d1d1;
}

h2 {
    text-align: center;
}

h3 {
    padding: 14px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-family: "Monaco", monospace;
    background-color: #13203f;
    text-decoration: none;
}

h3:hover {
    background-color: #f0bd19;
    color: #13203f;
}

.grad-bckgrnd {
    background-image: linear-gradient(#13203f 5%, white 95%);

}

.container {
    padding: 32px;
    background-color: rgb(243, 243, 243);
    width: 90%;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);

}

.slider-wrapper {
    max-width: 768px;
    position: relative;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 14/14;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);
    border-radius: 25px;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.slider-nav {
    display: flex;
    column-gap: 16px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #13203f;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.info-sec {

    width: 94%;
    display: flex;
    justify-content: center;
    align-content: justify;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);
    margin: auto;
    border-radius: 20px;
    margin-bottom: 40px;
}

#info-left-sec {
    background-color: rgb(194, 194, 194);
    width: 158px;
    padding: 28px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);

}

h4 {
    text-align: center;
    margin-bottom: 10px;
}

#buy-now {
    background-color: gold;
    padding: 8px;
    border-radius: 16px;
    color: #13203f;
}

#buy-now:hover {
    background-color: #13203f;
    padding: 8px;
    border-radius: 16px;
    color: gold;
}

p {
    background-color: #13203f;
    width: 460px;
    padding: 28px;
    color: white;
    border-radius: 20px;
    margin: 20px;
    text-align: justify;
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);
}

#sh-para {
    text-align: left;
    margin-left: 310px;
}

.table-sec {
    margin: auto;
    width: 92%;
    padding: 20px;
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 50px;
}

table {
    margin: auto;
    border: 2px solid black;
    width: 768px;
    border-collapse: collapse;
}

th {
    text-align: center;
    font-weight: bold;
    border-right: 1px solid black;
    padding: 5px;
    background-color: #13203f;
    color: white;
}

tr {
    border-bottom: 1px solid black;
    background-color: #d1d1d1;
}

td {
    border-right: 1px solid black;
    padding: 5px;
    text-align: center;
}

.abt-us {
    background-color: #13203f;
    width: 70%;
    padding: 28px;
    color: white;
    border-radius: 20px;
    margin: auto;
    text-align: justify;
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);
}

.abt-us p {
    background-color: transparent;
    margin: auto;
    width: 90%;
    font-size: larger;
}

.add-info-pic {
    width: 80%;
    display: flex;
    align-content: center;
    position: relative;
    margin: 0 auto;

}

.add-info-pic img {
    overflow-x: auto;
    border-radius: 20px;
}

.contact-us {
    background-color: #13203f;
    width: 73%;
    margin: auto;
    color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}